body {
	height: 100%;
	background: url('https://images8.alphacoders.com/512/thumb-1920-512776.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-header {
	text-align: center;
	border-bottom: none;
}

#timer, #result, #question, #answers {
	text-align: center;
	height: 40px;
	color: white;
}

#timer {
	background-color: dimgrey;
	opacity: .7;
	border-radius: 7px;
	font-weight: bolder;
}

button {
	height: 30px;
	width: 500px;
}

.btn {
	margin-bottom: 20px;
	background-color: dimgrey;
	opacity: .7;
	font-weight: bolder;
}

#start, #reset {
	height: 100px;
	width: 300px;
}

.displayNone {
	display: none;
}